".env"
.env
.vscode
output/
audio_files/*
!audio_files/ZOOM0067_converted.mp3
!audio_files/ZOOM0067_converted.rttm
!audio_files/ZOOM0067_converted.wav
!audio_files/ZOOM0067.csv
!audio_files/ZOOM0067_example_batch.csv
!audio_files/ZOOM0067_example_split.csv
!audio_files/ZOOM0067.json
sources/*
!sources/ZOOM0067.wav
audio_files/parts/
./models/vosk-model-*
models/vosk-model-ru-0.42
models/vosk-model-small-ru-0.22
models/vosk-model-tts-ru-0.7-multi
models/ai
models/vosk
models/stable_diffusion
*.pyc
__pycache__/
utils/__pycache__/
audio_processing/__pycache__/
speech_analyzer/__pycache__/
speech_parser/__pycache__/
speech_parser/utils/__pycache__/
speech_parser/audio_processing/__pycache__/
models/__pycache__/
scripts/__pycache__/
.git
temp
main.exp
main.lib
main.obj