".env"
.env
output/
audio_files/parts/
./models/vosk-model-*
models/vosk-model-ru-0.42
models/vosk-model-small-ru-0.22
models/vosk-model-tts-ru-0.7-multi
models/ai
models/vosk
models/stable_diffusion
*.pyc
__pycache__/
utils/__pycache__/
audio_processing/__pycache__/
speech_analyzer/__pycache__/
speech_parser/__pycache__/
speech_parser/utils/__pycache__/
speech_parser/audio_processing/__pycache__/
models/__pycache__/
scripts/__pycache__/
.git
temp
main.exp
main.lib
main.obj